lab7/src/main/resources/META-INF/ProductWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://lab2.rbetik12.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://lab2.rbetik12.com/" name="ProductWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://lab2.rbetik12.com/" schemaLocation="http://localhost:8081/ProductWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<message name="read">
<part name="parameters" element="tns:read"/>
</message>
<message name="readResponse">
<part name="parameters" element="tns:readResponse"/>
</message>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="createResponse">
<part name="parameters" element="tns:createResponse"/>
</message>
<message name="receiveBinary">
<part name="parameters" element="tns:receiveBinary"/>
</message>
<message name="receiveBinaryResponse">
<part name="parameters" element="tns:receiveBinaryResponse"/>
</message>
<portType name="ProductWebService">
<operation name="update">
<input wsam:Action="http://lab2.rbetik12.com/ProductWebService/updateRequest" message="tns:update"/>
<output wsam:Action="http://lab2.rbetik12.com/ProductWebService/updateResponse" message="tns:updateResponse"/>
</operation>
<operation name="read">
<input wsam:Action="http://lab2.rbetik12.com/ProductWebService/readRequest" message="tns:read"/>
<output wsam:Action="http://lab2.rbetik12.com/ProductWebService/readResponse" message="tns:readResponse"/>
</operation>
<operation name="delete">
<input wsam:Action="http://lab2.rbetik12.com/ProductWebService/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://lab2.rbetik12.com/ProductWebService/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://lab2.rbetik12.com/ProductWebService/createRequest" message="tns:create"/>
<output wsam:Action="http://lab2.rbetik12.com/ProductWebService/createResponse" message="tns:createResponse"/>
</operation>
<operation name="receiveBinary">
<input wsam:Action="http://lab2.rbetik12.com/ProductWebService/receiveBinaryRequest" message="tns:receiveBinary"/>
<output wsam:Action="http://lab2.rbetik12.com/ProductWebService/receiveBinaryResponse" message="tns:receiveBinaryResponse"/>
</operation>
</portType>
<binding name="ProductWebServicePortBinding" type="tns:ProductWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="read">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="receiveBinary">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProductWebService">
<port name="ProductWebServicePort" binding="tns:ProductWebServicePortBinding">
<soap:address location="http://localhost:8081/ProductWebService"/>
</port>
</service>
</definitions>